*
{
    font-family: Calibri;
}

body 
{
    width: 900px;
    margin-left:auto;
    margin-right:auto;
    background-color: lightgoldenrodyellow;
}
header
{
    height: 20px;
}
    header h1
    {
        text-align: center;
    }

.MenuNav
{
    padding-top: 15px;
    padding-bottom: 20px;
}

.MainMenu
{
    width: 900px;
    background-color: blue;   
}
    .MainMenu li
    {
        padding-right: 20px;
    }
    .MainMenu a
    {
        color: white;
    }

ul.level2, ul.level3
{
    background-color: gray;
}

ul.level2 li:hover, ul.level3 li:hover
{
    background-color: lightgray;
}

#TreeView
{
    float:left;
    width: 200px;
    margin-top: 0px;
}
TreeView#TreeView1
{
    background-color: red;
}

nav.SiteMapPath
{
    padding-bottom: 20px;
}

#MainContent
{
    float:right;
    width:700px;
}

h2.spacing
{
    margin-top:0px;
}

section.NestedLoop
{
    border: solid;
    border-color: lightcoral;
    border-width: medium;
    padding: 10px;
    color: darkgreen;
}

#validAnswer
{
    color: green;
    margin-bottom: 0px;
}

#invalidAnswer
{
    color: red;
    margin-bottom: 0px;
}

.star
{
    color: darkblue;
}