div.absolute {
    position: absolute;
    left: 50%;
    margin-left: -250px;
    color: white;
    width: 680px;
    text-align: center;
    color: white;
}

aside.absolute
{
    position: absolute;
    left: 454px;
    top: 50px;
    background-color: green;
    width: 226px;
    height: 170px;
}