aside.relative
{
    position: relative;
    left: 454px;
    top: -170px;
    width: 226px;
    height: 170px;
    background-color: green;
}

footer.relative
{
    position: relative;
    top: -170px;
    width: 680px;
    height: 25px;
    background-color: darkkhaki;
}