body 
{
    font-family: Calibri;
    background-color: #FFFFCC;
    width: 600px;
    margin-left:auto;
    margin-right:auto;
}
h2
{
    text-align: center;
    color: darkblue
}
h3
{
    text-align: center;
    color: darkcyan;
}
header
{
    text-align: center;
}
hr
{
    height: 8px;
    background-color: green;
}
nav
{
    margin: 2em;
    text-align: right;
}
.nav
{
    padding: 0px 20px;
    overflow: hidden;
}
nav a:link
{
    text-decoration: none;
}
nav a:hover
{
    text-decoration: underline;
    color: red;
    text-transform: uppercase;
}
form
{
    border-style: solid;
    border-color: green;
    border-width: medium;
    padding: 10px;
}
footer
{
    margin-bottom: 20px;
    border-top:double;
    padding-top: 5px;
}
.footer
{
    display: inline;
    padding: 0px 20px;
    font-size: 11px;
}
#aboutphoto
{
    width: 200px;
    height: 200px;
    float: right;
}
section
{
    width: 380px;
    margin-top: 0px;
}
.about
{
    text-align: left
}